In [ ]:
import pandas as pd
banks=pd.read_csv('banklist.csv')
# Showing the head of the dataframe
head=banks.head()
print(head)
# Showing the name of the columns
column=banks.columns
print(column)
banks.head(10)
no_of_states=banks['ST'].nunique()
print("The number of states are",no_of_states)
a=banks["ST"].unique()
print('The list of states are',a)
# top-s states with most failed bank
failed=banks["ST"].value_counts().head(5)
print('TOP-5 States with most failed bank are',failed)
# Get top-5 acquiring institution
acquring=banks["Acquiring Institution"].value_counts().head(5)
print('The TOP-5 acquring Institutions are',acquring)

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17
Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')
The number of states are 44
The list of states are ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']
TOP-5 States with most failed bank are ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64
The TOP-5 acquring Institutions are Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [64]:
# How many banks the state bank of texas acquire.
no_of_banks=banks[banks['Acquiring Institution']=='State Bank of Texas'].value_counts().shape[0]
print("The number of banks the state bank of etxas acquire are",no_of_banks)

# What is the most common city in California for a bank to fail in ?
# print(banks.head(15))
california=banks[banks['ST']=='CA']
commom_city=california['City'].value_counts().head(1)
print('Most commom city in california for a bank to fall in is',commom_city)

The number of banks the state bank of etxas acquire are 3
Most commom city in california for a bank to fall in is City
Los Angeles    4
Name: count, dtype: int64